* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 8px;
}

p.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }
  
button.sign-up {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: #f9faf8;
  }

h1.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 75px 0px;
    text-align: center;
}

  .cityscape {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

.buildings {
    max-width: 150px;
    text-align: center;
}

  .icon {
    width: 150px;
    height: 150px;
    border: 1px solid #3882f6;
    border-radius: 8px;
    background-color: #3882f6;
  }

  .testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
  }

  .quotation {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
  }

  .citation {
    text-align: right;
    font-size: 24px;
    color: #1f2937;
    font-weight: bold;
  }